/* Place CSS styles here */
body {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}  
.page {
  display:flex;
  flex-flow:row;
  justify-content: space-around;
  gap: 20px;
}
.side_span {
    width: 100%;
 transform: rotate(90deg);
 transform-origin: left;
 padding: 0 20px 0 20px;
 margin-left: 5%;
 margin-left: 2%;
 }
 .left_box {
  border-top: 2px solid;
  border-bottom:2px solid ;
  border-left:2px solid ;
  padding: 5px;
  padding-left: 10px;
 }
 .right_box {
  border:2px solid;
  padding:3px
 }
 .right_box_inner {
  display: flex;
  flex-flow:row;
  gap: 10px;
  border-top: 2px solid;
  padding: 5px;
 }
 .first_box {
  display: flex;
  flex-flow: row;
 }
.main_body {
  margin-left: 10%;
}